 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Programming</h2>
    <img src="{{ "/assets/img/programming.png" | prepend: site.baseurl }}"
         class="icon-image"
    />
    <!-- <i class="devicon-html5-plain-wordmark"></i> -->
    <!-- <i class="devicon-bootstrap-plain-wordmark colored"></i> -->
    <!-- <i class="devicon-sass-original colored"></i> -->
    <p>He has experience in database mobile, web frontend and backend
      development. Also has experience in development using artificial
      intelligence and data science.</p>
  </div>
  <div class="tech">
    <h2>Research</h2>
  <img src="{{ "/assets/img/research.png" | prepend: site.baseurl }}"
       class="icon-image"
  />
    <!-- <i class="devicon-javascript-plain colored"></i> -->
    <!-- <i class="devicon-react-original-wordmark colored"></i> -->
    <!-- <i class="devicon-nodejs-plain-wordmark"></i> -->
    <p>His research involves computing applied to atmospheric sciences, with
      an emphasis on forecasting and extracting information of severe weather
      events using artificial intelligence. </p>
  </div>
  <div class="tech">
    <h2>Hobbies</h2>
    <img src="{{ "/assets/img/hobbies.png" | prepend: site.baseurl }}"
         class="icon-image"
    />
    <!-- <i class="devicon-git-plain"></i> -->
    <!-- <i class="devicon-gulp-plain colored"></i> -->
    <!-- <i class="devicon-atom-original-wordmark"></i> -->
    <p>His favorite hobby is programming. He likes books and science
      fiction movies. He likes to practice physical exercises, especially
      running. Board game enthusiast.</p>
  </div>
</div>
