<div class="user-details">
 <h1> Blog </h1>
</div>
<div class="user-blog">
  <div class="card-post">
      <div class="card-post-image">
        <img src="{{ "/assets/img/blog/thumb_hello_world.png" | prepend: site.baseurl }}" alt="">
      </div>
      <div class="card-post-details">
        <h2 class="card-post-title">
          <a href="#">Hello World</a>
        </h2>
        <span class="card-post-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's ...
        </span>
        <span class="card-post-author">
          By Adriano P. Almeida
        </span>
        <span class="card-post-date">
          Jun 03, 2020
        </span>
      </div>
  </div>
</div>
