<div id="particles-js">
  <div class="header">
      <h1>
        <figure class="profile-image">
            <img alt="{{ site.username }}"
                 src="{{ "/assets/img/profile.jpg" | prepend: site.baseurl }}"
            />
        </figure>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a title="My Lattes Curriculum" aria-label="My Lattes Curriculum" target="_blank" href="http://lattes.cnpq.br/7223840348193655"><i class="icon fa fa-id-card" aria-hidden="true"></i></a>
        <a title="My Github Profile" aria-label="My Github Profile" target="_blank" href="http://github.com/AdrianoPereira"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a title="My Linkedin Profile" aria-label="My Linkedin Profile" target="_blank" href="https://www.linkedin.com/in/-adrianoalmeida/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a title="Send me a email" aria-label="Send me a email" href="mailto:adriano.almeida@inpe.br"><i class="icon fa fa-envelope"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
