<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/sinapse.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SInApSE </h3>
    <ul>
      <li>Research group</li>
    </ul>
    <p>SInApSE (acronym for intelligent systems applied to the space sector, in
      portuguese, <em>sistemas inteligentes aplicados ao setor espacial</em>)
      is the laboratory of the research group led by Dr. Alan Calheiros and Dr.
      Rafael Santos. The SInApSE is linked to Associated Laboratory for Computing
      and Applied Mathematics (LAC - in portuguese, <em>laboratório associado de
      computação e matemática aplicada</em>) of the Bazilian Institute for Space
      Research (INPE - in portuguese, <em>instituto nacional de pesquisas
      espaciais</em>). The Laboratory aims to develop systems for forecasting and
      extracting information from severe storms using artificial intelligence
      techniques and meteorological data mining.
    </p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/team-code.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Team Code</h3>
    <ul>
      <li>Development group</li>
    </ul>
    <p>
      Team Code is a group created in 2016 by the then computer students <a 
      href="https://github.com/AdrianoPereira">Adriano Almeida</a>, <a 
      href="https://github.com/KassioVieira">Kássio Luz</a> and <a 
      href="https://github.com/pedrolobato">Pedro Lobato</a> in Boa Vista - 
      Roraima. The group was initially created to compose the programming 
      marathon team, later they started to receive demands for the development 
      of systems, and since then they have been working with the development of 
      mobile and web applications.
    </p>
  </div>
</div>
