<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/sinapse.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SInApSE </h3>
    <ul>
      <li>Research group</li>
    </ul>
    <p>SInApSE (acronym for intelligent systems applied to the space sector, in
      portuguese, <em>sistemas inteligentes aplicados ao setor espacial</em>)
      is the laboratory of the research group led by Dr. Alan Calheiros and Dr.
      Rafael Santos. The SInApSE is linked to Associated Laboratory for Computing
      and Applied Mathematics (LAC - in portuguese, <em>laboratório associado de
      computação e matemática aplicada</em>) of the Bazilian Institute for Space
      Research (INPE - in portuguese, <em>instituto nacional de pesquisas
      espaciais</em>). The Laboratory aims to develop systems for forecasting and
      extracting information from severe storms using artificial intelligence
      techniques and meteorological data mining.
    </p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/dataat.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Data at </h3>
    <ul>
      <li>Short course and digital book</li>
    </ul>
    <p>The dataat is an initiative that aims to share knowledge through short
      courses and digital support materials in the areas of computing.
      The introduction to spatial data analysis was a short course given at the
      VI Congress of Industrial Management and Aeronautical Technology (CIMATech),
      which took place in October 2019 at the Faculty of Technology of São José
      dos Campos with the collaboration of <a href="https://github.com/Oldlipe">Felipe Carvalho</a>,
      <a href="https://github.com/M3nin0">Felipe Menino</a> and
      <a href="https://github.com/helvecioneto">Helvécio Neto</a>.</p>
    <a class="project-link" target="_blank"
    href="https://github.com/dataAt/introducao-analise-de-dados-espaciais">
    Check it out</a>
  </div>
</div>
