figure.profile-image {
  border: 12px solid #FFF;
  border-radius: 100%;
  width: 348px;
  height: 348px;
  margin: 10px auto 50px auto;
  box-sizing: border-box;
}

figure.profile-image img {
  border: 10px solid #1a222c;
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

.user-details h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 30px;
}

.tech h2 {
  text-transform: uppercase;
  font-size: 24px;
}
img.icon-image {
  width: 150px;
}

/*Contact*/
#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  /* text-align: center; */
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}
#contact-form .item-form {
  display: block;
  margin: 15px 0;
}

#contact-form label {
  margin: 5px;
  font-weight: bold;
  color: #1a222c;
}

#contact-form input, #contact-form textarea {
  box-sizing: border-box;
  border: 2px solid #dcdcdc;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  width: calc(100% - 10px);
  outline: none;
}

#contact-form .item-form:last-child {
    text-align: center;
}

#contact-form button {
  margin: 0 auto;
  padding: 10px;
  width: 200px;
  height: 50px;
  background: #FFF;
  border: 2px solid #1a222c;
  border-radius: 5px;
  color: #1a222c;
  text-transform: uppercase;
  transition: .5s all linear;
  font-weight: bolder;
}

#contact-form button:hover {
  cursor: pointer;
  background: #1a222c;
  color: #FFF;
  transition: .3s all linear;
}
