figure.profile-image {
  border: 8px solid #FFF;
  border-radius: 100%;
  width: 233px;
  height: 233px;
  margin: 0 auto 20px auto;
  box-sizing: border-box;
}

figure.profile-image img {
  border: 8px solid #1a222c;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.user-details h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 30px;
}

.tech h2 {
  text-transform: uppercase;
  font-size: 24px;
}
img.icon-image {
  width: 150px;
}
