figure.profile-image {
  border: 8px solid #FFF;
  border-radius: 100%;
  width: 233px;
  height: 233px;
  margin: 0 auto 20px auto;
  box-sizing: border-box;
}

figure.profile-image img {
  border: 8px solid #1a222c;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.user-details h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 30px;
}

.tech h2 {
  text-transform: uppercase;
  font-size: 24px;
}
img.icon-image {
  width: 150px;
}

/* Blog below */
.card-post {
  margin-bottom: 50px;
}

.card-post .card-post-image {
  width: 200px;
  float: left;
}

.card-post .card-post-details {
  padding: 0;
  height: 150px;
  vertical-align: top;
  width: calc(100% - 210px);
  float: right;
}

.card-post-details h2 {
  margin: 0;
  font-size: 16px;
}

span.card-post-author {
  display: block;
  font-size: 14px;
}

span.card-post-date {
  display: block;
  font-size: 12px;
}

.card-post-description {
  text-align: justify;
  margin-bottom: 10px;
  display: block;
}

.card-post figcaption {
  float: right;
}


.card-post-title a {
  text-decoration: none;
  color: #1a222c;
}

.card-post-title a:hover {
  text-decoration: underline;
}

.card-post img {
  width: 200px;
}
